<h1>Animals</h1>

<div class="list">
  <a class="item_select cell" href="/animals/new">
      <h3>Add Animal</h3>
      <img src="" alt="">
  </a>
</div>

<p></p>
<p></p>
<h2>Click on name below for details</h2>

<div class="list">
  <% if @animals != nil %>
    <% for animal in @animals %>
      <a class="item_select cell" href="/animals/<%= animal.id %>">
          <h2> <%= animal.name %> </h2>
          <h2> <%= animal.type %> </h2>
          <img src="" alt="">
      </a>
    <% end %>
    <% else %>
      <h3 class="warning_msg">No animals in system</h3>
  <% end %>

<div>
