<p></p>
<h1>Animals</h1>

<section class="container con-col">
  <h2 class="container_text">Options</h2>

  <div class="list">
    <a class="item_select cell" href="/animals/new">
        <h3 class="btn_title">Register Animal</h3>
    </a>

    <a class="item_select cell" href="/checkings">
        <h3 class="btn_title">Checked In</h3>
    </a>

  </div>
</section>
<p></p>

<section class="container con-col">
  <h2 class="container_text">Animals Registered to Practice</h2>
  <h3 class="container_text">Click name below for details</h3>

  <div class="list">
    <% if @animals != nil %>
      <% for animal in @animals %>
        <a class="item_select cell" href="/animals/<%= animal.id %>">
            <h3 class="btn_title"> <%= animal.name %> </h3>
            <h4 class="btn_title"> <%= animal.type %> </h4>
        </a>
      <% end %>
      <% else %>
        <h3 class="warning_msg">No animals in system</h3>
    <% end %>

  <div>
</section>
