
<form class="" action="/animals" method="POST">
  <fieldset>
    <h3>Add Animal</h3>
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name">


    <label for="type">Type</label>
    <input type="text" name="type" placeholder="Type">


    <label for="dob">DoB</label>
    <input type="date" name="dob" placeholder="DD/MM/YY">

    <label for="vet_id">Select a Vet:</label>
    <select name="vet_id">
      <% for vet in @vets %>
      <option value="<%= vet.id %>"><%= vet.full_name %></option>
      <% end %>
    </select>

    <select name="owner_id">
      <% for owner in @owners %>
      <option value="<%= owner.id %>"><%= owner.full_name %></option>
      <% end %>
    </select>

    <label for="treatment-notes">Treatment Notes</label>
    <input type="text" name="treatment_notes" placeholder="Treatment Notes">
  </fieldset>
  <input class="btn" type='submit' value="Add">
</form>
