<h2>Select an option</h2>

<div class="list">

  <a class="item_select cell" href="/animals">
      <h3>Pets</h3>
      <img src="" alt="">
  </a>
  <a class="item_select cell" href="/vets">
      <h3>Vets</h3>
      <img src="" alt="">
  </a>
  <!-- Add when customers have seperate table -->
  <!-- <a class="item_select cell" href="/owners">
      <h3>Owners</h3>
      <img src="" alt="">
  </a> -->


<div>
