<h2>Select an option</h2>

<div class="list">

  <a class="item_select cell" href="/animals">
      <h2>Animals</h2>
      <img src="" alt="">
  </a>
  <a class="item_select cell" href="/vets">
      <h2>Vets</h2>
      <img src="" alt="">
  </a>

  <a class="item_select cell" href="/owners">
      <h2>Owners</h2>
      <img src="" alt="">
  </a>


<div>
