<h2>Select an option</h2>

<div class="list">

    <a class="item_select" href="/pets">
      <div  class="cell">
        <h3>Pets</h3>
        <img src="" alt="">
      </div>
    </a>
    <a class="item_select" href="/vets">
      <div  class="cell">
        <h3>Vets</h3>
        <img src="" alt="">
      </div>
    </a>


<div>
