
<p></p>
<section>

  <h2>You are using the Dr Dolittle's Vet Management System created by Ashir Qureshi.</h2>
  <h3>Please select an option below for details on Animals, Vets or Owners.</h3>

</section>
<p></p>
<p></p>
<section class="list">

    <a class="item_select cell" href="/animals">
        <h2>Animals</h2>
        <img class="logo" src="/images/animals.svg" alt="animals">
    </a>
    <a class="item_select cell" href="/vets">
        <h2>Vets</h2>
        <img class="logo" src="/images/vet.svg" alt="vets">
    </a>

    <a class="item_select cell" href="/owners">
        <h2>Owners</h2>
        <img class="logo" src="/images/owner.svg" alt="owners">
    </a>

</section>
