
<p></p>

<h2>You are using the Dr Dolittle's Vet Management System.</h2>
<h3>Please select an option below for details on Animals, Vets or Owners.</h3>

<p></p>

<div class="list">


  <a class="item_select cell" href="/animals">
      <h2>Animals</h2>
      <img src="" alt="">
  </a>
  <a class="item_select cell" href="/vets">
      <h2>Vets</h2>
      <img src="" alt="">
  </a>

  <a class="item_select cell" href="/owners">
      <h2>Owners</h2>
      <img src="" alt="">
  </a>


<div>
