<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/table.css">
  <link rel="stylesheet" type="text/css" href="/styles/form.css">
  <link rel="stylesheet" type="text/css" href="/styles/button.css">
  <title>Dr Dolittle's Veterinary Clinic</title>
</head>
<body>
  <h1>Dr Dolittle's Veterinary Clinic</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/animals">Animals</a></li>
      <li><a href="/vets">Vets</a></li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>
