<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <link rel="stylesheet" type="text/css" href="/styles/table.css">
  <link rel="stylesheet" type="text/css" href="/styles/form.css">
  <link rel="stylesheet" type="text/css" href="/styles/button.css">
  <title>Dr Dolittle's Veterinary Clinic</title>
</head>
<body>
  <p></p>
  <h1>Dr Dolittle's Veterinary Clinic</h1>
  <p></p>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/animals">Animals</a></li>
      <li><a href="/vets">Vets</a></li>
      <li><a href="/owners">Owners</a></li>
      <li><a href="/appointments">Appointments</a></li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>
