<p></p>
<h2>Add Treatment Information</h2>
<h2>Animal Name: <%= @animal.name %></h2>

<form class="list" action="/treatments" method="POST">
  <fieldset>

    <!-- id for animal is required but is hidden from user so they dont edit it -->
    <input type="text" name="animal_id" value="<%= @animal.id %>" hidden>

    <label for="details">Treatment Details</label>
    <input type="text" name="details" required>

    <label for="bill">Cost</label>
    <input type="currency" name="bill" required>

    <select name="paid" id="paid">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>

    <label for="tr_date">Date</label>
    <input type="date" name="tr_date" required>

    <input class="btn cell" type='submit' value="Add">
  </fieldset>

</form>

<p></p>
<div class="list">
  <a class="item_select cell" href="/treatments/animal/<%= @animal.id %>">
      <label for="">Cancel</label>
  </a>
</div>
