<p></p>
<h1>Search</h1>

<section class="container">

<form action="/search" method="POST">

  <label for="query">Search Query</label>
  <input type="text" name="query" placeholder="Enter Search Term">

  <label for="type">Search Type</label>
  <select name="type" id="type">
    <option value="animal">Animals</option>
    <option value="vet">Vets</option>
    <option value="owner">Owners</option>

  </select>

  <input class="btn cell" type='submit' value="Search">


</form>

</section>
