<p></p>
<h1>Search</h1>


<p></p>

<section class="container">

  <form action="/search" method="POST">

    <label for="query">Search Query</label>
    <input type="text" name="query" placeholder="Enter Search Term" required>

    <label for="type">Search Type</label>
    <select name="type" id="type" required>
      <option value="">--Choose an option--</option>
      <option value="animal">Animals</option>
      <option value="vet">Vets</option>
      <option value="owner">Owners</option>

    </select>

    <input class="btn cell" type='submit' value="Search">

  </form>

</section>

<p></p>

<section class="container con-col">
  <div class="cell">
  <p>This search function allows you to search for owners or vets by name; or search
     for animals by name/type.</p>
  </div>
</section>
