<p></p>
<h2>Edit Vet Details</h2>

<form class="list" action="/vets/<%= @vet.id %>" method="POST">
  <fieldset>


    <label for="first_name">First Name</label>
    <input type="text" name="first_name" placeholder="First Name" value="<%= @vet.first_name %>">

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" placeholder="Last Name" value="<%= @vet.last_name %>">

    <input class="btn cell" type='submit' value="Update">


  </fieldset>
</form>

<p></p>

<div class="list">
  <a class="item_select cell" href="/vets/<%= @vet.id %>">
      <label for="">Cancel</label>
  </a>
</div>
