<p></p>
<h1>Veterinary Doctors</h1>
<section class = "container con-col">
  <h2 class="container_text">Options</h2>

  <div class="list">
    <a class="item_select cell" href="/vets/new">
        <h3 class="btn_title">Add Vet</h3>
        <img src="" alt="">
    </a>
  </div>
</section>

<p></p>

<section class = "container con-col">

  <h2 class="container_text">Vets on system</h2>
  <h3 class="container_text">Click name below for details:</h3>

  <div class="list">
    <% if @vets != nil %>
      <% for vet in @vets %>
        <a class="item_select cell" href="/vets/<%= vet.id %>">
            <h3 class="btn_title"> <%= vet.full_name %> </h3>
            <img src="" alt="">
        </a>
      <% end %>
      <% else %>
        <h3 class="warning_msg">No vets in system</h3>
    <% end %>
  <div>
</section>
