<p></p>
<h2>Add Vet to System</h2>

<form class="list" action="/vets" method="POST">
  <fieldset>


    <label for="first_name">First Name</label>
    <input type="text" name="first_name" placeholder="First Name">

    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" placeholder="Last Name">

    <input class="btn cell" type='submit' value="Add">
  </fieldset>
</form>

<p></p>
<div class="list">
  <a class="item_select cell" href="/vets">
      <label for="">Cancel</label>
  </a>
</div>
