
<section>
  <h1><%= @vet.full_name %></h1>

  <!-- <div class="list">
        <div class="cell">
          <table>
            <tr>
              <th>Name</th>
            </tr>
            <tr>
              <%# <td><%= @vet.full_name() %></td> %>
            </tr>
          </table>
        </div>
  </div> -->
  <h2>Responsible for:</h2>
  <div class="list">
    <% for pet in @pets %>
        <div class="cell">
          <table>
            <tr>
              <th>Name</th>
            </tr>
            <tr>
              <td><%= pet.name() %></td>
            </tr>
          </table>
        </div>
      <% end %>

  </div>
</section>
