<p></p>
<h1>Animals Checked In</h1>
<p></p>
<section class="container con-col">

<h3 class="container_text">Click name below for details</h3>

  <% if @animals != nil %>
    <div class="lsist">
      <% for animal in @animals %>
        <a class="item_select cell" href="/animals/<%= animal.id %>">
            <h3> <%= animal.name %> </h3>
            <h4> <%= animal.type %> </h4>
        </a>
      <% end %>
    <div>
  <% else %>
    <h2 class="warning_msg">No animals currently checked in</h2>
    <p></p>
  <% end %>

</section>
<p></p>
<section class="list">
  <a class="item_select cell" href="/animals">
      <label for="">Back to List</label>
  </a>

</section>
<p></p>
