<h1>Animals Checked Into Practice</h1>


<p></p>
<p></p>
<h2>Click name below for details</h2>

<div class="list">
  <% if @animals != nil %>
    <% for animal in @animals %>
      <a class="item_select cell" href="/animals/<%= animal.id %>">
          <h2> <%= animal.name %> </h2>
          <h2> <%= animal.type %> </h2>
          <img src="" alt="">
      </a>
    <% end %>
    <% else %>
      <h3 class="warning_msg">No animals currently checked in</h3>
  <% end %>

<div>
