<p></p>
<section class="container">
  <h2 class="container_text">Animals Checked Into Practice</h2>

  <h3 class="container_text">Click name below for details</h3>

  <div class="list">
    <% if @animals != nil %>
      <% for animal in @animals %>
        <a class="item_select cell" href="/animals/<%= animal.id %>">
            <h3> <%= animal.name %> </h3>
            <h3> <%= animal.type %> </h3>
            <img src="" alt="">
        </a>
      <% end %>
      <% else %>
        <h3 class="warning_msg">No animals currently checked in</h3>
    <% end %>

  <div>
</section>
