<form class="" action="/checkings" method="POST">
  <fieldset>
    <h3>Check In/Out</h3>

    <!-- id for animal is required but is hidden from user so they dont edit it -->
    <input type="text" name="id" value="<%= @animal.id %>" hidden>

    <label for="name">Animal Name</label>
    <input type="text" name="first_name" value="<%= @animal.name %>" disabled>

    <label for="name" id="check_in">Check In Date</label>
    <input type="date" name="check_in">

    <label for="name" id="check_out" min=check_in.>Check Out Date</label>
    <input type="date" name="check_out">

  </fieldset>
  <input class="btn" type='submit' value="Add">
</form>
