form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 1.5em;
  width:30%;
  align-self: center;
  padding-top: 20px;

}

form.input {
  width: 100%
}

form input.textbox {
  font-size: 1.5em;
};

fieldset {
  flex:1;
  align-items: center;
}
