form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* font-size: 1.0em; */
  width:80%;
  align-self: center;
  align-items: center;
  padding-top: 20px;
  text-align: center;
}
fieldset{
  background-color: #32ad71 ;
  border-radius: 10px;
  border-style: hidden;
  padding-top:30px;
    align-items: center;
}

label {
  display:block;
  width: 100%;
  text-align: center;
  color: #464a52;
  font-size: 1.2em;
}

form input, select{
  /* display:inline-block; */
  font-size: 1.2em;
  text-align: center;
  padding: 5px;
  margin:5px;
}

/* textarea{
  display: block;
  width: 100%;
} */



input[type=submit], .delete_button{
  margin:2rem;
  padding:8px;
  border:5px;
  /* font-size: 1.2rem; */
  background-color: #2EE88E;
  text-align: center;
  text-decoration: none;
  color: black;
}
input[type=submit]:hover, .delete_button:hover{
  background-color: #257E53;
}

input[type=text], input[type=number]{
  font-size: 1.0rem;
  text-align: center;
}

input:disabled{
  background-color: #bfbdbd;
  border-style: none;
}

select {
  width:100%
}
