body {

  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  font-family:sans-serif, "Verdana";
  color: #464a52;
}


h1,  h2,  h3,  h4 {
  align-self: center;
  text-decoration: none;
  text-align: center;
  color: #464a52;
}

.capitals {
  text-transform: capitalize;
}
.container_text {
  color: #ededed;
}
.no_decor {
  text-decoration: none;
}
p{
  text-align: center;
}

 select{
   font-size: 1rem;
 }

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.container {
  display: flex;
  align-self: center;
  align-items: center;
  max-width: 80%;
  background-color: #32ad71;
  padding:20px;
  border-radius: 10px;
}

.con-col{
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}


.list a {
  text-decoration: none;
}

.cell{
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  max-width: 300px;
  min-width: 200px;
  border-radius: 5px;
  padding: 10px 20px;
  margin:3px;
  background-color: #32ff9c;
  text-decoration: none;
}

.logo, .icons {
  width: 200px;
  height:200px;
  justify-content: center;
  align-self: center;
}

.student_select {
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.item_select:hover {
  background-color: #257E53;
  border-radius: 5px;
}

.warning_msg {
  color: #912a2a;
}

footer {
  display: flex;
  flex-direction: row;
  flex:1;
}
nav{
  align-self: center;
  font-size: 1.5em;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2EE88E;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

li {
  float: left;
}

li a {
  display: block;
  font-weight: bold;
  color: #464a52;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #257E53;
}

@media screen and (max-width: 600px) {
  .icons{
    width: 100px;
    height:100px;
    justify-content: center;
    align-self: center;
  }

  .cell{
    min-width: 150px;
    border-radius: 5px;
    padding: 5px 10px;
  }
}
