table {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;

}

tbody {
  align-items: center;
}

.display_list {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.display_list a {
  text-decoration: none;
}

tr {
  font-size: 1.2em;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #72FFBB;
}
