
<p></p>
<h1>Owners</h1>
<section class="container con-col">
  <h2 class="container_text">Options</h2>

  <div class="list">
    <a class="item_select cell" href="/owners/new">
        <h3>Add Owner</h3>
        <img src="" alt="">
    </a>
  </div>
</section>

<p></p>
<section class="container con-col">

  <h2 class="container_text">Owners on System</h2>
  <h3 class="container_text">Click name below for details</h3>

  <div class="list">
    <% if @owners != nil %>
      <% for owner in @owners %>
        <a class="item_select cell" href="/owners/<%= owner.id %>">
            <h3> <%= owner.full_name %> </h3>
            <img src="" alt="">
        </a>
      <% end %>
    <% else %>
      <h3 class="warning_msg">No owners in system</h3>
    <% end %>

  <div>

</section>
