<h1>Owners</h1>

<div class="list">
  <a class="item_select cell" href="/owners/new">
      <h3>Add Owner</h3>
      <img src="" alt="">
  </a>
</div>

<p></p>
<p></p>

<h2>Click on name below for details</h2>

<div class="list">
  <% if @owners != nil %>
    <% for owner in @owners %>
      <a class="item_select cell" href="/owners/<%= owner.id %>">
          <h2> <%= owner.full_name %> </h2>
          <img src="" alt="">
      </a>
    <% end %>
  <% else %>
    <h3 class="warning_msg">No owners in system</h3>
  <% end %>

<div>
